html{
    background-color: #ffc0cb;
    
}
.grid {
    display: grid;
    height: 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . . ."
    "topPic topPic topPic topPic topPic"
    "card card card card card"
    "choosr choosr choosr choosr choosr"
    "prof prof prof prof prof"
    ". contact contact contact ."
    
    ; 
}
.navbar {
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 95%;
    background: transparent;
    mix-blend-mode: color-burn;
    z-index: 999999999999999;
}
.named {
    display: inline;
    margin: 10px;
    font-size: 40px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #727425;
}
.navbar ul{
    list-style: none;
    display: inline-flex;
    float: right;
    margin-right: 10%;
    color: #727425;
    font-size: 20px;
    margin: 12.5px;
}
.navItems li{
    padding-left: 20px;
    font-family: open-sans,sans-serif;
    font-weight: 600;
    font-style: normal;
}
.about:hover {
    transition: all .25s ease;
    text-shadow: 2px 5px 5px red;
    
}
.photography:hover {
    transition: all .25s ease;
    text-shadow: 2px 5px 5px yellow;
}
.cases:hover {
    transition: all .25s ease;
    text-shadow: 2px 5px 5px cyan;
}
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    position: absolute;
}
.heroContain {
    height: 400px;
    display: block;
    position: relative;
    margin-top: 60px;
    text-align: center;
    
}
.heroGrad {
    width: 100%;
    height: 400px;
    background:linear-gradient(transparent 20%, transparent 50%,  #ffc0cb );
    position: absolute;
    z-index: 9999;
}
.heroSelf {
    transform: rotate(-90deg);
    height: 200px;
    width: 200px;
    display: flex;
    object-fit: cover;
    border-radius: 100%;
    border: 10px #727425 solid;
    position: relative;
    transition: all 1s ease;
    animation: constant 2s infinite;
    animation-direction: alternate;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;

}
.heroImg {

    height: 400px;
    background: url(images/creeek.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    position: relative;
}
.picture {
    margin-top: 100px;
    margin-left: 75px;
    grid-area: topPic;
}
@keyframes constant {
    from {
        border-top-left-radius: 50%;
        border-top-right-radius: 60%;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 50%;
    }
    to {
        border-top-left-radius: 60%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 60%;
    }
    
}
.pictureText {
    margin-top: -175px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    width: 70%;
    height: 200px;
    border:10px solid ;
    border-color: #727425;
    overflow: hidden;
    border-radius: 25px;
}
@media only screen and (max-width: 1200px) {
    .pictureText {
        font-size: 13px;  
    }
    .imageList img {
        width: 27% !important;
    }
    .midCard {
        width: 80% !important;
    }
    .openHead {
    }
    .choosCard {
        font-size: 37px !important;
    }
    .choosP {
        padding: 2px !important;
        font-size: 20px !important;
    }
    .profText {
        margin-left: 20px !Important;
    }
    .header1  {
        font-size: 37px !important;
    }
    .profText p {
        font-size: 20px !important;
    }
    .nonProf {
        width: 90% !important;
        margin-left: 0 auto !important;
        margin-right: 0 auto !important;
    }
    .choosr {
        width: 90% !important;
        margin-right: 0 auto !important;
        margin-left: 0 auto !important;
    }
}

.openHead {
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    transition: all 1s ease;
    
}
.head2 {
    text-align: center;
    color: #727425;
    margin-right: 10px;
}
.openP {
    font-family: open-sans, sans-serif;
font-style: normal;
font-weight: 300;
    font-size: 14,px;
    color: #727425;
    text-align: left;
    text-indent: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.fullW {
    width: 100%;
}
.midCard {
    grid-area: card;
    height: 375px;
    background-color: #727425;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    margin-bottom: px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.cardP {
    font-family: nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #ffc0cb;
}
.imageList {
    list-style: none;
    text-align: center;
    
}
.imageList img {
    width: 20%;
    padding: 2%;
    
}
.caseCards {
    
}
.choosr {
    grid-area: choosr;
    height: 500px;
    width: 70%;
    background-color: #727425;
    float: left;
    margin-top: 125px;
    margin-bottom: 100px;
    border-radius: 20px;
    margin-left: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.imgr{
    height: 500px;
    width: 65%;
    background-image: url(images/mockup2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat:round;
    
}
.choosCard {
    margin-right: ;
    color:  #ffc0cb;
    font-family: nunito, sans-serif;
    font-size: 5vh;
    font-style: normal;
    font-weight: 700;
    width: 35%;
    float: right;
    margin-top: -400px;
    
}
.choosT {
    text-align: center;
    
}
.choosP {
    float: right;
    color:  #ffc0cb;
    font-family: nunito, sans-serif;
    text-align: center;
    position: relative;
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
    margin-top: -350px;
    width: 34%;
    padding: 5px;
}
.nonProf {
    grid-area: prof;
    height: 500px;
    margin-left: auto;
    width: 70%;
    background-color: #727425;
    margin-right: 50px;
    border-radius: 20px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dog {
    height: 500px;
    width: 70%;
    background-image: url(images/homepage.png);
    float: right;
    background-size: cover; 
    animation: animate 20s linear infinite;
    background-repeat: repeat;
    animation-direction: alternate;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
@keyframes animate {
    
    from {
        background-position: 0 0px;
    }
    to {
        background-position: 0 2000px;
    }
}
.profText {
    width: 22%;
    padding: 5px;
    text-align: center;
    position: absolute;
    
}
.header1{
    color:  #ffc0cb;
    font-family: nunito, sans-serif;
    font-size: 4vh;
    font-style: normal;
    font-weight: 700;
    width: 90%;
    margin-top: 100px;
    float: left;
    
}
.profText p {
    float: left;
    color:  #ffc0cb;
    font-family: nunito, sans-serif;
    text-align: center;
    position: relative;
    font-size: 3vh;
    margin-left: -3px;
    font-style: normal;
    font-weight: 500;
    width: 89%;
    margin-top: -10px;
    padding: 7px;
}
.contact {
    width: 100%;
    height: 160px;
    grid-area: contact;
    bottom: 0;
    position:relative;
    
    
        
}
.container {
    background-color: #727425;
    margin-top: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contactH {
    font-family: nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #ffc0cb;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: auto;
    display: flex;
}
.link1 {
    font-family: nunito;
    color: #ffc0cb;
    font-weight: 400;
}
.footerLink img {
    width: 75px;
    padding: 5px;
    padding-bottom: 10px;
}
.footerLink {
    width: 300px;
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0 auto;
    
}
.email {
    transition:all 1s ease;
}
.twitter {
    transition:all 1s ease;
}
.linkedIn{
    transition:all 1s ease;
}
.email:hover  {
    box-shadow: 0px 0px 20px 10px #0c9cd3;
    border-radius: 150%;  
}
.linkedIn:hover  {
    box-shadow: 0px 0px 15px 10px #0077B5;
    border-radius: 150%;  
}
.twitter:hover  {
    box-shadow: 0px 0px 15px 10px #00aced;
    border-radius: 150%;  
}